/*Primary Colors*/
$color1: #000000;
$color2: navy;
$color3: white;

/*Secondary Colors*/
$colorRoyal1: goldenrod;

/*Text Aligment*/
$text-align: center;

/*Max width*/
$width: 100%;

$display: inline-block;

form {
    display: $display;
    margin-top: 35vh;
    margin-bottom: 25vh;
    margin-left: 25%;
    width: 45%;
    height: 40vh;
}

footer {
    color: $color3;
    background-color: $color1;
    text-align: $text-align;
    width: $width;
    height: 35vh;
    padding-top: 8vh;
}